################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MinimalApi/.vs/MinimalApi
/MinimalApi/bin/Debug/net6.0
/MinimalApi/obj
/MinimalApi/.vs/ProjectEvaluation
/MinimalApi/~$Notes.docx
